<div class="container">
  <h1>List of all boxes</h1>
  <ul>
    <% @boxbikes.each do |boxbike| %>
      <li> <%= boxbike.address %><%= " | " %><%= boxbike.user.name %></li>
    <% end %>
  </ul>
</div>