// Specific CSS for your home-page
.home-content {
  align-items: center;
  padding: 0 200px !important;
}

.col-sm-6 {
  text-align: center;
}

h2 {
  color: #00b4d8;
}

.img-bike {
  margin-left: 50px;
  width: 750px;
  overflow: hidden;
  border-radius: 15px;

}

.img-kim {
  margin-right: 50px;

}
// .container-home {
//   padding: 0 200px;
// }

.photo-home {
  width: 450px;
  overflow: hidden;
  border-radius: 15px
}

.block-text {
  margin-bottom: 100px;
}

.underline {
    background-image: linear-gradient(120deg, #00b4d8 0%, #00b4d8 0%);
    background-repeat: no-repeat;
    background-size: 100% 0.5em;
    background-position-x: 15px;
    background-position-y: 90%;
  }
