.contract-card {
  background: white;
  margin-bottom: 5px;
  border: thin solid $blue;
  width: 500px;

  .contract-address {
    font-weight: bold;
  }

  .contract-date {
    display: flex;
    justify-content: space-around;
  }

}

.container-reservation {

  .contract-card {
    margin-right: 10px;
    margin-top: 10px;
  }

}
#home-link {
  margin-left: 30px
}

