.contract-card {
  background: white;
  margin-bottom: 5px;
  border: thin solid $blue;
  width: 600px;

  .contract-address {
    font-weight: bold;
  }

  .contract-date {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
  }

.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
}
